<mat-toolbar color="warn">
  <span>SPA</span>

  <span class="example-spacer"></span>
  <button mat-button routerLink="/dashboard">Inicio</button>
  <button mat-button routerLink="/dashboard/table">Tabla</button>
  <button mat-button routerLink="/dashboard/reportes">Contacto</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon logout-icon">
  <img  src="https://static.vecteezy.com/system/resources/previews/009/636/857/original/log-gin-3d-illustration-icon-png.png" width="200px" alt="">
   

