<div class="body">
  <div class="login">
    <mat-spinner diameter="50" *ngIf="loading" class="spinner"></mat-spinner>
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
      <img src="https://images.vexels.com/media/users/3/134904/isolated/preview/55500571b8176366dd4298b925235cb2-icono-de-soporte-de-contacto-3d.png" width="50%" alt="">
      <h1>CONTACTO</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput autocomplete="off" formControlName="usuario">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput autocomplete="off" type="password" formControlName="contraseña">
      </mat-form-field>
      <mat-form-field class="example-full-width ancho">
        <mat-label>Deja un comentario</mat-label>
        <textarea matInput placeholder="Comentario"></textarea>
      </mat-form-field>
      <button type="submit" mat-raised-button color="warn"
        routerLink="/" class="ancho enviarbtn">Enviar</button>

    </form>
  </div>
</div>
